@font-face {
    font-family: big_john;
    src: url(big_john.otf);
}

@font-face {
    font-family: NoirPro-Light;
    src: url(NoirPro-Light.ttf);
}


.main-header .logo {
  font-family: big_john, sans-serif;
  font-size: 24px;
  background-color: #fbd2e4;
}

h2 {
    font-family: big_john;
}

h3 {
  font-family: big_john;
}

.main-sidebar {
  font-family: "NoirPro-Light";
  font-size:20px;
}

.content-wrapper {
  background-color: #fbd2e4;
}
.main-header .navbar .sidebar-toggle {
  float: right;
}

.box-body{
  background: #656565;
}